body {
      font-family:Helvetica, Arial, sans-serif;
    }
    h3 {
      font-size: 1.25em;
      margin: 25px 0 0;
      text-transform: uppercase;
    }
    h5 {
      font-size: 0.75em;
    }
    .enemy {
      font-size: 0.75em;
      text-transform: uppercase;
    }
    .search {
      background: red;
      padding: 25px;
    }
    input {
      padding: 5px;
      border: 2px solid white;
      outline: none;
    }
    button {
      padding: 5px;
      color: #cfcfcf;
      background: #111;
      border-color: #111;
      outline: none;
    }
    .results {
      background: #111;
      color: #cfcfcf;
      padding: 15px 25px 25px;
      min-height: 150px;
    }
    section {
      margin: 0 auto;
      width: 325px;
    }
